// Sidebar Google Adsense
.notepad-content,
.notepad-page-content,
.notepad-post-content {
    position: relative;
    .app__ads-fixed {
        position: absolute;
        top: 300px;
        left: 0px;
        background-color: #f8f5f57a; // background-color: #f3697e8a;
        width: 1/8*100%;
        height: 100vh;
        padding-top: 35px;
        padding-bottom: 0px;
				padding-left: 0px !important;
				padding-right: 5px;
        text-align: left;
        margin: 0 !important;
        margin-top: 0 !important;
        z-index: 1;
        &.ads__fixed-left {
            position: fixed;
            top: 0px;
            left: 0px;
				}
        .ads__btn-close {
            position: absolute;
            right: 5px;
            top: 15px;
            font-size: 20px;
						cursor: pointer;
						color: $primary-color;
						z-index: 9999;
        }
    }
}

.notepad-page-content,
.notepad-post-content {
    .app__ads-fixed {
        top: 0px;
    }
}

@media only screen and (max-width: 1200px) {
    .notepad-content,
    .notepad-page-content,
    .notepad-post-content {
        .app__ads-fixed {
            position: fixed;
            bottom: 0px;
            left: 0px;
            top: auto;
            text-align: center;
            width: 100%;
            height: 95px;
            padding-top: 15px;
            padding-bottom: 0px;
            padding-left: 25px !important;
            padding-right: 25px !important;
            background-color: #ff516b71;
            .ads__btn-close {
								left: auto;
                right: 10px;
                top: 10px;
            }
        }
    }
}
